*{
  margin: 0;
}

.wrapper{
  box-sizing: border-box;
  width: 1440px;
  height: 569px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.title{
  padding: 120px 567px 20px;
  text-align: center;
}

hr{
  width: 100px;
  height: 2px;
  background-color: #F5BD41;
  margin: auto auto;
}

.advantages{
  display: inline-block;
  width: 1440px;
}

.advantages-img {
  width: 296px;
  height: 176px;
}

.img{
  width: 100px;
  height: 100px;
  padding-bottom: 52px;
  margin: 90px 126px 56px;
}

.advantages-text{
  display: inline;
  padding-bottom: 120px;
 margin: 152px 122px 120px ;
}