*{
  margin: 0;
}

.wrapper{
  box-sizing: border-box;
  width: 1232px;
  height: 569px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.title{
  padding-top: 120px;
  padding-bottom: 20px;
  text-align: center;
}

hr{
  width: 100px;
  height: 2px;
  background-color: #F5BD41;
  margin: auto auto;
}

.advantages-img{
  width: 100px;
  height: 100px;
  margin: 90px 101px 38px;
}

.advantages-text{
  display: inline;
  padding-bottom: 120px;
  margin: 152px 96px 120px ;
}